{% extends "layout.html" %}
{% block content %}

<nav class=" container navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Event Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Sponsors</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Locations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Location A</a>
                <a class="dropdown-item" href="#">Location B</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Somewhere else</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Your favorite event" aria-label="Search">
            <!-- Button triggerring modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
                Add event
            </button>
          </form>
        </div>
      </nav>


<div class="container">
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
        Add event
      </button> -->
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="POST" action="/events/add">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>


                <div class="modal-body">
                <div class="container-fluid">
                    <input class="modal-body-input py-2" placeholder="Event Name" type="text">
                    </input>
                </div>
                <div class="container-fluid">
                    <input class="modal-body-input py-2" placeholder="Organizer">
                    </input>
                </div>
                <div class="container-fluid">
                    <input class="modal-body-input py-2" placeholder="Date and Time">
                    </input>
                </div>
                </div>


                <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <input type="submit"  class="btn btn-primary" value="Create"/>
                </div>
            </div>
            </div>
        </form>
      </div>
</div>


{% endblock %}